.control-pane {
    -fx-background-color: red;
    -fx-padding: 30px 40px;
    -fx-alignment: center;
}

.start-button{
    -fx-font-size: 20px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}